body{

    font-family: sans-serif;
    display: flex;
    background: black;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#number{
    padding: auto;
    font-weight: bold;

}

.wrapper{
    display: flex;
    color: #ccc;
    flex-direction: column;
    align-items: center;
}

.card{
    text-align: center;
    margin-bottom: 70px;
    color: #ccc;
}
#password{

    text-align: center;
    width: 500px;
    height: 45px;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    border: none;
    outline: none;
    background: #ccc;
    color: #1d2630;
    margin-bottom: 20px;
    border-radius: 5px;

}

#generate{

    width: 140px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    background: #61b16e;
    color: #ccc;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    padding: 15px 20px;
    border: none;

}
#copy{
    
    width: 140px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    background: burlywood;
    color: #ccc;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    padding: 15px 20px;
    border: none;
}